.preloader__container {
  overflow:hidden;
  font-size: 10px;
  margin: 240px auto;
  text-indent: -9999em;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #E5792B;
  background: -moz-linear-gradient(left, #E5792B 10%, rgba(101,171,248, 0) 42%);
  background: -webkit-linear-gradient(left, #E5792B 10%, rgba(101,171,248, 0) 42%);
  background: -o-linear-gradient(left, #E5792B 10%, rgba(101,171,248, 0) 42%);
  background: -ms-linear-gradient(left, #E5792B 10%, rgba(101,171,248, 0) 42%);
  background: linear-gradient(to right, #E5792B 10%, rgba(101,171,248, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.preloader__container:before {
  width: 50%;
  height: 50%;
  background: #E5792B;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.preloader__container:after {
  background: #1C1919;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .preloader__container {
    margin: 100px auto;
    width: 40px;
    height: 40px;
  }
}